div#contacts {
    background-color: #ccc;
    position: relative;
}

div#contacts > .wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

div#contacts>.wrapper a:nth-child(1) {
    background-color: green;
}

div#contacts>.wrapper a:nth-child(2) {
    background-color: blue;
}


div#contacts>.wrapper a:nth-child(3) {
    cursor: pointer;
    transition: .5s;
    animation: 0.7s ease-out 0s 1 FadeIn;
}

div#contacts > .wrapper a:hover{
    transform: rotate(360deg);
}
div#contacts > .wrapper a:hover:nth-child(3) {
    background-color: red;
}


@keyframes FadeIn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    transition: all 0.3s;
}

div#contacts>.wrapper a{
    height: 30px;
    width: 30px;
    background: #000;
    padding: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 2px;
}

div#contacts>.wrapper a>i>svg {
    font-size: 2.1em;
}